
/* Your CSS Code here. */
.holder
{

	width:200px;
	/*background-color:lightblue;*/
	display:grid;
	grid-template-columns:repeat(2,auto);
		/*grid-template-clumns:repeat(2,auto);*/

}
.item{
	color:black;
	width:200px;
	
}

