
/* Your CSS Code here. */
.holder
{

    width:100%;
	background-color:pink;
	color:white;
	display:grid;
	grid-template-columns:repeat(2,100px);
	grid-template-rows:repeat(2,100px);
	gap:20px 30px;
	justify-content:center;
	align-content:start;
	padding:10px;
		
		

}
 .item{
	color:black;
background-color:lightblue;
	
	
}


